
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<style>
    .footer {
        background: url('../image/Slice_1.png');
        /* Arka plan resminizin dosya yolunu buraya ekleyin */
        background-color:black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 70px 0;
    
    }
    
    .footer-col {
        width: 25%;
    }
    
    .footer-col h5 {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 18px;
        color: #ffff;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: capitalize;
        font-weight: 300;
    }
    
    .footer-col h5::before {
        content: "";
        left: 0;
        bottom: -10px;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        margin-bottom: -8px;
        font-size: 12px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #ffff;
        display: block;
        transition: all 0.3s ease;
        font-family: 'Kaynak Sans 3', sans-serif;
        line-height: 15px;
    }
    
    .footer-col ul li a:hover {
        color: #59bd1b;
    }
    
    .footersome ul {
        margin-top: 3rem;
        margin-bottom: 20px;
        margin-left: 1rem;
    }
    
    .footersome ul a {
        font-family: 'Source Sans Pro', sans-serif;
        margin: auto;
        padding: 3px;
    }
    
    
    .footertext {
        font-family: 'Source Sans Pro', sans-serif;
        margin-left: 3rem;
        color: #ddd;
        font-size: 12px;
        line-height: 15px;
    }
    
    .footertext a.ga-bottom {
        text-decoration: underline;
        margin: auto;
    }
    
    
    a:-webkit-any-link {
        text-decoration: none;
        margin-left: 1rem;
    }
    
    .ga-bottom:hover {
        color: #59bd1b;
    }
    
    .footertitle{
        justify-content: center;
    }
    
    /responsive/
    @media (max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    
    @media (max-width: 574px) {
        .footer-col {
            width: 100%;
        }
    }
    
    @media (max-width: 900px) {
        .mb-5{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding-right: 4rem;
            width: 100%;
        }
        .footertext{
            text-align: center;
        }
    }
</style>

<body>


    <nav class="navbar bg-body-tertiary navbar-expand-lg fixed-top " data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="fa-solid fa-w" style="color: #0dd31b;"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href=" {% url 'deneme' kat_ad='HTML' %} "> Html</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'deneme' kat_ad='CSS' %}"> Css</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Java</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Javascript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> React</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Angular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Bootstrap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Django</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> C++</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> C#</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Nodejs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Asp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> SQL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Php</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <i class="fa-solid fa-user me-5" style="color: #0dd31b;"></i>  
          </div>
        </div>
      </nav>

    <div class="container-fluid d-flex">
        <div class="row">
            <div class="leftmenuinnerinner sticky-top col-2 border " style="    height: 100vh;overflow-y: scroll;width: 230px;" >
                <div class="flex-shrink-0 p-3 align-items-stretch w-100 ">
                    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body text-decoration-none ">
                    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <ul class="list-unstyled ps-0">
                    <li>
                        <h5>HTML Tutorial</h5>
                        <div class="collapse show" id="home-collapse">
                            <ul class="list-unstyled mt-1 mb-2">
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML HOME</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Introduction</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Editors</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Basic</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Elements</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Attributes</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Headings</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Paragraphs</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Styles</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Formatting</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Quotations</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Comments</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Colors</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML CSS</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Links</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Images</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Favicon</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Page Title</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Tables</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Lists</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Block & Inline</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Classes</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Id</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Iframes</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML JavaScript</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML File Paths</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Head</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Layout</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Responsive</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Computercode</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Semantics</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Style Guide</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Entities</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Symbols</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Emojis</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Charset</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML URL Encode</a></li>
                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML vs. XHTML</a></li>
                            </ul>
                        </div>
                            <h5>HTML Forms</h5>
                            <div class="collapse show" id="home-collapse">
                            <ul class="list-unstyled mt-1 mb-2">
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Forms</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Form Attributes</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Form Elements</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Input Types</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Input Attributes</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Input Form Attributes</a></li>
                                </ul>
                            </div>
                        
                            <h5>HTML Graphics</h5>
                            <div class="collapse show" id="home-collapse">
                                <ul class="list-unstyled mt-1 mb-2">
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Canvas</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML SVG</a></li>
                                </ul>
                            
    
                            </div>
    
                            <h5>HTML Media</h5>
                            <div class="collapse show" id="home-collapse">
                                <ul class="list-unstyled mt-1 mb-2">
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Media</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Video</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Audio</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Plug-ins</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML YouTube</a></li>
                                </ul>
                            </div>
    
                            <h5>HTML APIs</h5>
                            <div class="collapse show" id="home-collapse">
                                <ul class="list-unstyled mt-1 mb-2">
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Geolocation</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Drag/Drop</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Web Storage</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Web Workers</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML SSE</a></li>
                                </ul>   
                            </div>
                        
                            <h5>HTML Examples</h5>
                            <div class="collapse show" id="home-collapse">
                                <ul class="list-unstyled mt-1 mb-2">
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Examples</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Editor</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Quiz</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Exercises</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Bootcamp</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Certificate</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Summary</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Accessibility</a></li>
                                </ul>
                            </div>
                        
                            <h5>HTML References</h5>
                            <div class="collapse show" id="home-collapse">
                                <ul class="list-unstyled mt-1 mb-2 ">
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Tag List</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Attributes</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Global Attributes</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Browser Support</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Events</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Colors</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Canvas</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Audio/Video</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Doctypes</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Character Sets</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML URL Encode</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTML Lang Codes</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTTP Messages</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">HTTP Methods</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">PX to EM Converter</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Keyboard Shortcuts</a></li>
                                </ul>
    
                            </div>
                        
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-5 pt-5 ps-5">
                {% comment %} içerik yazıolacak {% endcomment %}
            </div>
            <div class="col-2 mt-5 border ">
                <div >
                    <img src="https://images01.nicepagecdn.com/page/55/87/tr/web-sitesi-sablonu-preview-5587790.jpg" class="w-75" alt="">
                </div>
            </div>
            <div class="col-12 pe-0 ps-4">
                <footer class="footer">
                    <div class="container">
            
                        <!--ÜST KATEGORİ-->
            
            
                            <div class="footertitle col-12 d-flex ">
                                <div class="row mb-5">
                                    <div class="col-1"><a href="https://www.w3schools.com/" class="text-warning-emphasis"><i
                                                class="fa-solid fa-w"></i></a>
            
                                    </div>
                                    <div class="col text-warning">
                                    </div>
                                    <div class="col text-warning"><a href="https://www.w3schools.com/spaces/index.php"
                                            class="text-warning-emphasis">SPACES</a></div>
                                    <div class="col text-warning"><a href="https://www.w3schools.com/pro/index.php"
                                            class="text-warning-emphasis">UPGRADE</a></div>
                                    <div class="col text-warning"><a href="https://campus.w3schools.com/pages/newsletter"
                                            target="_blank" class="text-warning-emphasis">NEWSLETTER</a></div>
                                    <div class="col text-warning"><a href="https://campus.w3schools.com/collections/certifications"
                                            target="_blank" class="text-warning-emphasis">CERTİFİED</a></div>
                                </div>
                            </div>
            
                            <!--üst kategori-->
            
                            <div class="footertext row">
                                <div class="footer-col">
                                    <ul>
                                        <li>
                                            <h5>Top Tutorials</h5>
                                        </li>
                                        <li><a href="#">HTML Tutorial</a></li>
                                        <li><a href="#">CSS Tutorial</a></li>
                                        <li><a href="#">JavaScript Tutorial</a></li>
                                        <li><a href="#">How To Tutorial</a></li>
                                        <li><a href="#">SQL Tutorial</a></li>
                                        <li><a href="#">Python Tutorial</a></li>
                                        <li><a href="#">W3.CSS Tutorial</a></li>
                                        <li><a href="#">Bootstrap Tutorial</a></li>
                                        <li><a href="#">PHP Tutorial</a></li>
                                        <li><a href="#">java Tutorial</a></li>
                                        <li><a href="#">C++ Tutorial</a></li>
                                        <li><a href="#">jQuery Tutorial</a></li>
                                    </ul>
                                </div>
                                <div class="footer-col">
                                    <ul>
                                        <li>
                                            <h5>Top References</h5>
                                        </li>
                                        <li><a href="#">HTML Reference</a></li>
                                        <li><a href="#">CSS Reference</a></li>
                                        <li><a href="#">JavaScript Reference</a></li>
                                        <li><a href="#">SQL Reference</a></li>
                                        <li><a href="#">Python Reference</a></li>
                                        <li><a href="#">W3.CSS Reference</a></li>
                                        <li><a href="#">Bootstrap Reference</a></li>
                                        <li><a href="#">PHP Reference</a></li>
                                        <li><a href="#">java Reference</a></li>
                                        <li><a href="#">Angular Reference</a></li>
                                        <li><a href="#">jQuery Reference</a></li>
                                    </ul>
                                </div>
                                <div class="footer-col">
                                    <ul>
                                        <li>
                                            <h5>Top Examples</h5>
                                        </li>
                                        <li><a href="#">HTML Examples</a></li>
                                        <li><a href="#">CSS Examples</a></li>
                                        <li><a href="#">JavaScript Examples</a></li>
                                        <li><a href="#">How To Examples</a></li>
                                        <li><a href="#">SQL Examples</a></li>
                                        <li><a href="#">Python Examples</a></li>
                                        <li><a href="#">W3.CSS Examples</a></li>
                                        <li><a href="#">Bootstrap Examples</a></li>
                                        <li><a href="#">PHP Examples</a></li>
                                        <li><a href="#">java Examples</a></li>
                                        <li><a href="#">XML Examples</a></li>
                                        <li><a href="#">jQuery Examples</a></li>
                                    </ul>
                                </div>
                                <div class="footer-col">
                                    <ul>
                                        <li>
                                            <h5>Get Certified</h5>
                                        </li>
                                        <li><a href="#">HTML Certified</a></li>
                                        <li><a href="#">CSS Certified</a></li>
                                        <li><a href="#">JavaScript Certified</a></li>
                                        <li><a href="#">Front End Certified</a></li>
                                        <li><a href="#">SQL Certified</a></li>
                                        <li><a href="#">Python Certified</a></li>
                                        <li><a href="#">PHP Certified</a></li>
                                        <li><a href="#">java Certified</a></li>
                                        <li><a href="#">XML Certified</a></li>
                                        <li><a href="#">jQuery Certified</a></li>
                                        <li><a href="#">C++ Certified</a></li>
                                        <li><a href="#">C# Certified</a></li>
                                    </ul>
                                </div>
                                <div class="footersome">
                                    <ul>
                                        <a href="https://www.facebook.com/w3schoolscom/">
                                            <i class="fa-brands fa-facebook me-2"></i>
                                        </a>
            
                                        <a href="https://discord.com/channels/894869766286753813/@home">
                                            <i class="fa-brands fa-discord me-2"></i>
                                        </a>
            
                                        <a href="https://www.linkedin.com/company/w3schools.com/">
                                            <i class="fa-brands fa-linkedin me-2"></i>
                                        </a>
            
                                        <a href="https://www.instagram.com/w3schools.com_official/">
                                            <i class="fa-brands fa-instagram me-2"></i>
                                        </a>
            
                                        <a href="https://w3schools.invisionzone.com/" target="_blank">FORUM</a>
                                        <a href="https://www.w3schools.com/about/default.asp" target="_blank">ABOUT</a>
                                    </ul>
            
                                    <div class="footertext">
                                        W3Schools is optimized for learning and training. Examples might be simplified to improve
                                        reading and learning.
                                        <br class="footer-hide-special">
                                        Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot
                                        warrant full correctness
                                        <br class="footer-hide-special">
                                        of all content. While using W3Schools, you agree to have read and accepted our
                                        <a href="https://www.w3schools.com/about/about_copyright.asp" class="ga-bottom">terms of
                                            use</a>,
                                        <a href="https://www.w3schools.com/about/about_privacy.asp" class="ga-bottom">cookie and
                                            privacy policy</a>.
                                        <br>
                                        <br>
                                        Report Error
                                        <br>
                                        <br>
                                        If you want to report an error, or if you want to make a suggestion, do not hesitate to send
                                        us an e-mail:
                                        <br>
                                        help@w3schools.com
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <a href="https://www.w3schools.com/about/about_copyright.asp" class="ga-bottom">Copyright
                                            1999-2023</a>
                                        by Refsnes Data. All Rights Reserved.
                                        <a href="https://www.w3schools.com/w3css/default.asp" class="ga-bottom">W3Schools is Powered
                                            by
                                            W3.CSS</a>.
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                    </div>
                </footer>
            </div>
        </div>

    </div>





    <!-- JQuery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- AJAX kullanarak sayfa değiştirme  -->
    <script>
        $(document).ready(function () {
            // Sayfa numaralarına tıklama işlemi
            $(document).off('click', '.pagination a.page-link').on('click', '.pagination a.page-link', function (e) {
                e.preventDefault(); // Sayfanın yeniden yüklenmesini engelleme
                var url = $(this).attr('href'); // Tıklanan sayfa bağlantısını alma
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        // Yüklenecek veriyi sayfa içine yerleştirme
                        $('#your-card-container').html($(data).find('#your-card-container').html());
                    },
                    error: function () {
                        alert('Sayfa yüklenirken bir hata oluştu.');
                    }
                });
            });
        });
        
    </script>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>
</html>

